.box-posts-content {
    margin: auto;
    text-align: center;
    margin-bottom: 39px;
}

.one-posts {
    /* width: 62%; */
    /* margin-bottom: 39px; */
    padding: var(--padding--content--home);
}

.title-top {
    padding: 30px 0;
}

.title-top .item-title:nth-child(1) {
    font-size: 14px;
    color: #797979;
}

.title-top .item-title:nth-child(2) h5 {
    font-size: 28px !important;
    padding: 10px 0;
    font-weight: 900;
}

.title-top .item-title:nth-child(3) {
    font-size: 13px;
    color: #797979;
    font-weight: 500;
}

.box-image-posts {
    width: 100%;
    height: 886px;
}

.img-posts {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.text-posts {
    text-align: center;
    margin: 30px 0 30px 0;
}


/* box bottom */

.box-bottom {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #c9c9c9;
    padding-bottom: 35px;
}

.box-icon-posts {
    display: flex;
    width: 33.33%;
    color: #797979;
    font-weight: 500;
}

.item-icon-posts {
    padding-left: 15px;
    font-size: 17px;
    cursor: pointer;
}


/* box-button */

a.button-reading {
    display: block;
    width: 33.33%;
    padding: 0;
    color: white;
}

a.button-reading>p {
    padding: 16px 0;
    background-color: brown;
    width: 200px;
    margin: auto;
    transition: 0.4s;
    font-size: 13px;
}

a.button-reading:hover>p {
    background-color: black;
}

.box-comment {
    width: 33.33%;
    font-size: 13px;
    font-weight: 500;
    justify-content: flex-end;
    display: flex;
    color: #797979;
}


/* Responsive */

@media (min-width:320px) and (max-width:543px) {
    .one-posts {
        margin-bottom: 39px;
    }
    /* image */
    .box-image-posts {
        width: 100%;
        height: 500px;
    }
    /* box-bottom */
    a.button-reading {
        width: 100%;
        /* padding: 0px 100px; */
    }
    .box-comment {
        width: 100%;
        justify-content: center;
        margin-top: 15px;
    }
    .box-icon-posts {
        width: 100%;
        justify-content: center;
        margin-bottom: 15px;
    }
}

@media (min-width:544px) and (max-width:767px) {
    .one-posts {
        margin-bottom: 39px;
    }
    a.button-reading {
        width: 100%;
        /* padding: 0px 138px; */
    }
    .box-comment {
        width: 100%;
        justify-content: center;
        margin-top: 15px;
    }
    .box-icon-posts {
        width: 100%;
        justify-content: center;
        margin-bottom: 15px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .one-posts {
        margin-bottom: 39px;
    }
}